/* Font used for titles */
@font-face {
    font-family: 'lobster';
    src: url(Fonts/LobsterTwo-Regular.ttf);
}

/* Font used for nav/body */
@font-face {
    font-family: 'lato';
    src: url(Fonts/Lato-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }

    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hidden {
    display: none !important;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    background: antiquewhite;
    border-bottom: 3px solid black;
}

#hero-home-section {
    display: flex;
    justify-content: center;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        url('Images/hero-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 12rem;
}

#hero-home-div {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
}

#hero-home-div h2 {
    font-size: 4rem;
    font-family: 'lato', 'sans-serif';
    font-weight: bold;
    text-align: center;
}

#pmenu-div {
    display: flex;
    margin-top: 0;
    gap: 2rem;
    align-items: center;
}

#pmenu-div p {
    font-size: 1.3rem;
    font-family: 'lato', 'sans-serif';
    font-weight: bold;
}

#pmenu-div button {
    width: 6rem;
    height: 3rem;
    background-color: black;
    color: white;
    font-family: 'lato', 'sans-serif';
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
}

#pmenu-div button:hover {
    transform: scale(1.1);
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

#timg-div {
    display: flex;
    gap: 1rem;
}

.logo {
    width: 7rem;
    height: 5rem;
}

.title {
    font-family: 'lobster', 'sans-serif';
}

#nav-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


#nav-bar a {
    font-size: 1.35rem;
    font-family: 'lato', 'sans-serif';
    text-decoration: none;
    font-weight: 750;
    color: black;
    transition: transform 0.13s;
}

#nav-bar a:hover {
    transform: scale(1.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.393);
}

#nav-bar button {
    width: 6rem;
    height: 3rem;
    background-color: black;
    color: white;
    font-family: 'lato', 'sans-serif';
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
}

#nav-bar button:hover {
    transform: scale(1.1);
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    align-items: bottom;
    border-top: 2px solid hsl(0, 0%, 20%);
    padding: 1rem;
    background-color: antiquewhite;
    margin-bottom: 0;
}

footer:last-child {
    margin-bottom: 0;
}

#footer-div {
    display: flex;
    width: 100%;
}

#title-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

#title-div p {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

#social-div {
    display: flex;
    gap: 1.2rem;
    margin-top: 4rem;
    margin-left: 3rem;
}

#social-div a {
    text-decoration: none;
}

#social-div a img {
    width: 2rem;
}

#topic-div {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 3rem;
    text-align: center;
    font-size: 1.15rem;
    font-family: 'lato', 'sans-serif';
}

#website-div {
    display: flex;
    flex-direction: column;
}

#website-div a {
    margin-top: 1rem;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    transition: transform 0.15s;
}

#website-div a:hover {
    transform: scale(1.1);
}

#website-div h3 {
    margin-bottom: 0;
}

#hours-div {
    display: flex;
    flex-direction: column;
}

#hours-div h3 {
    margin-bottom: 0;
}

#hours-div p {
    margin-bottom: 0;
    margin-top: 1rem;
}

#legal-div {
    display: flex;
    flex-direction: column;
}

#legal-div a {
    margin-top: 1rem;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    transition: transform 0.15s;
}

#legal-div a:hover {
    transform: scale(1.1);
}

#legal-div h3 {
    margin-bottom: 0;
}

main {
    flex: 1;
}

#popular-foods {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-top: 3px solid black;
}

#popular-foods h3 {
    font-family: 'lobster', 'sans-serif';
    font-size: 3rem;
    margin-bottom: 1rem;
}

#popular-foods p {
    font-family: 'lato', 'sans-serif';
    font-size: 1.7rem;
    margin-top: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.409);
    color: black;
}

#popularfd-container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    gap: 3rem;
}

#popularfd-title {
    margin-bottom: 0;
    margin-left: 4rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.479);
    width: 20rem;
}

.popularfd img {
    width: 30rem;
}

#locationpic-section {
    display: flex;
    background-color: beige;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-top: 3px solid black;
}

#locationpic-section h3,
#chefs-section h3 {
    font-family: 'lobster', 'sans-serif';
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#locationpic-section p,
#chefs-section p {
    font-family: 'lato', 'sans-serif';
    font-size: 1.7rem;
    margin-top: 0;
    color: black;
}

#location-div {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

#locationpic-title {
    border-bottom: 3px solid rgba(0, 0, 0, 0.479);
    width: 22rem;
}

.location-container img {
    margin-top: 3rem;
    width: 30rem;
    border: 10px solid black;
}

#chefs-section {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-top: 3px solid black;
}

#chefs-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
}

#chefs-div img {
    width: 30rem;
    border: 5px solid black;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#hero-section-menu {
    display: flex;
}

#hero-menu-div {
    display: flex;
}